*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  font-weight: lighter;
  text-transform: capitalize;
}

:root {
  font-family: Avenir, system-ui, Avenir, Arial, sans-serif;

  /* FONT */
  --font-primary: "Libre Baskerville";
  --font-secondary: Avenir;

  /* COLOR */
  --clr-orange: #f05a28;
  --clr-gray: #4d4d4d;
  --clr-gray-light: #f3f3f3;
}

h1,
h2 {
  font-family: var(--font-primary);
}
