*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
  font-weight: lighter;
  text-transform: capitalize;
}

:root {
  font-family: Helvetica, system-ui, Avenir, Arial, sans-serif;

  /* FONT */
  --font-primary: "Libre Baskerville";
  --font-secondary: Helvetica;

  /* COLOR */
  --clr-orange: #F05A28;
  --clr-gray: #4D4D4D;
  --clr-gray-light: #F3F3F3;
}

h1,
h2 {
  font-family: var(--font-primary);
}